In [2]:
from sklearn.datasets import load_wine
wine=load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [4]:
import pandas as pd
df= pd.DataFrame(wine.data,columns=wine.feature_names)
df

     alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0      14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1      13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2      13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3      14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4      13.24        2.59  2.87  ...  1.04                          2.93    735.0
..       ...         ...   ...  ...   ...                           ...      ...
173    13.71        5.65  2.45  ...  0.64                          1.74    740.0
174    13.40        3.91  2.48  ...  0.70                          1.56    750.0
175    13.27        4.28  2.26  ...  0.59                          1.56    835.0
176    13.17        2.59  2.37  ...  0.60                          1.62    840.0
177    14.13        4.10  2.74  ...  0.61                          1.60    560.0

[178 rows x 13 columns]

In [16]:
df1['target']= pd.DataFrame(wine.target)
df1.target.unique()

array([0, 1, 2])

In [17]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(df,df1,test_size=0.2)

In [18]:
from sklearn.naive_bayes import MultinomialNB
mul_NB=MultinomialNB()

In [19]:
mul_NB.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
mul_NB.score(x_test,y_test)

0.9166666666666666

In [26]:
mul_NB.predict(x_test[:10])

array([0, 1, 1, 1, 2, 1, 1, 2, 1, 2])

In [23]:
from sklearn.naive_bayes import GaussianNB
Gaus_NB=GaussianNB()

In [24]:
Gaus_NB.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
Gaus_NB.score(x_test,y_test)

0.9722222222222222

In [27]:
Gaus_NB.predict(x_test[:10])

array([0, 1, 1, 1, 2, 1, 1, 2, 1, 2])