In [94]:
from sklearn.datasets import load_iris
import pandas as pd
iris = load_iris()
dir(iris)

['DESCR', 'data', 'feature_names', 'filename', 'target', 'target_names']

In [95]:
df= pd.DataFrame(iris.data,columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [96]:
target=pd.DataFrame(iris.target)
target

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [97]:
from sklearn.ensemble import RandomForestClassifier

In [98]:

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df,target,test_size=0.2)

In [99]:
model= RandomForestClassifier()

In [100]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.9333333333333333

**Parameter Tunning**

In [101]:
model_Tunning= RandomForestClassifier(n_estimators=10)
model_Tunning.fit(x_train,y_train)
model_Tunning.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

1.0